@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ae1414;
  --foreground: #b75151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #362adb;
    --foreground: #0d9115;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
